body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.titre-pub-annonce {
  margin-top: 25px;
  width: 100%;
  position: relative;
  height: 100px;
  text-align: center;
  line-height: 70px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgb(6, 8, 161);
  -webkit-text-fill-color:rgb(7, 35, 48);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-width: rgb(1, 16, 99);
}

.AnonncePublicitaire {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.annonce {
  position: relative;
  min-width: 200px;
  width: 250px;
  height: 350px;
  border: 2px solid #00BFFF;
  border-radius: 25px;
  box-shadow: 0 0 10px #87CEEB;
  transition: 0.3s ease;
  margin: 25px;
  background-color: white;
}

.annonce:hover {
  box-shadow: 0 0 20px rgb(0, 81, 255);
  transform: scale(1.05);
}

.slider {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
}
.slider img{
	height:200px;
}
.slide {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.slide.dislide {
  display: block;
}

.slider button {
 
 position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border-radius: 10px;
}
.slider button:hover {
  background: rgba(0, 0, 0, 0.5);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.info-annonce {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  top: 210px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}
.info-annonce button{
	color:white;
	background-color:#0089D3;
  width: 60%;
  height: 40px;
	cursor:pointer;
	border-radius: 10px;
	font-size:14px;
	margin:5px;
	border:none;
	
}.info-annonce button:hover {
  background:#0d1a27;
}
.info-annonce h2 {
  display: inline;
  color: #0d1a27;
}

@media (max-width: 620px) {
  .annonce {
    width: 90%;
  }

  .titre-pub-annonce {
    font-size: 25px;
  }
}
